# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
venv/
.env

# Model files
models/llama_model/pytorch_model.bin
models/llama_model/config.json
models/llama_model/tokenizer.json

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# Temporary files
*.tmp
*.temp
